<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Process Manager</h1>
        <span class="author">by Osmel Perez</span>
        <span class="spacer"></span>
        <a mat-flat-button class="nav" routerLink="/home">Volver</a>
    </mat-toolbar-row>
</mat-toolbar>

<mat-list class="subtitles">
    <mat-list-item><h2>Simulador de algoritmo</h2></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Algoritmo de planificación de procesos Round Robin</mat-list-item>
</mat-list>

<div class="inputs">
  <mat-card class="inputs__card">
    <div class="inputs__data">
      <h4 class="inputs__data__label">Valor de la unidad de tiempo (ms): </h4>
      <mat-form-field class="inputs__data__input">
          <input matInput type="number" min="1" [formControl]="th">
      </mat-form-field>
    </div>
  </mat-card>

  <mat-card class="inputs__card">
    <div class="inputs__data">
      <h4 class="inputs__data__label">Valor del Quantum: </h4>
      <mat-form-field class="inputs__data__input">
          <input matInput type="number" min="1" disableControl="false" (change)="changeQuantum()" [formControl]="quantum">
      </mat-form-field>
    </div>
  </mat-card>
</div>

<table mat-table [dataSource]="myProcess" class="mat-elevation-z5 process">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="processName">
      <th mat-header-cell *matHeaderCellDef class="process__title"> Nombre del proceso </th>
      <td mat-cell *matCellDef="let element"> {{element.processName}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="timeArrival">
      <th mat-header-cell *matHeaderCellDef class="process__title"> Tiempo de llegada </th>
      <td mat-cell *matCellDef="let element"> {{element.timeArrival}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="burst">
      <th mat-header-cell *matHeaderCellDef class="process__title"> Rafaga </th>
      <td mat-cell *matCellDef="let element"> {{element.burst}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="myProcessTitle"></tr>
    <tr mat-row *matRowDef="let row; columns: myProcessTitle;"></tr>
</table>

<mat-card class="mat-elevation-z5 simulation-section">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon aria-hidden="false" aria-label="Example home icon">description</mat-icon>
    </div>
    <mat-card-title>Simulación</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="l">
    <p class="simulation-section__subtitle ready">Listo</p>
    <div class="simulation-section__item">
      <mat-card class="simulation-section__item__process" *ngFor="let process of readyProcess">
        <mat-card-header>
          <mat-card-title>{{ process.processName }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Pid: {{ process.pid }}<br>
          Quantum: {{ process.quantum | number }} <br>
          Ejecuciones: {{ process.nExec }} <br>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-divider></mat-divider>
    <p class="simulation-section__subtitle exec">Ejecución</p>
    <div class="simulation-section__item">
      <mat-card class="simulation-section__item__process" *ngFor="let process of execProcess">
        <mat-card-header>
          <mat-card-title>{{ process.processName }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Pid: {{ process.pid }}<br>
          Quantum: {{ process.quantum | number }} <br>
          Ejecuciones: {{ process.nExec }} <br>
        </mat-card-content>
      </mat-card>      
    </div>
    <mat-progress-bar mode="determinate" [value]="progressBar"></mat-progress-bar>
    <mat-divider></mat-divider>
    <p class="simulation-section__subtitle wait">Espera</p>
    <div class="simulation-section__item">
      <mat-card class="simulation-section__item__process" *ngFor="let process of waitProcess">
        <mat-card-header>
          <mat-card-title>{{ process.processName }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Pid: {{ process.pid }}<br>
          Quantum: {{ process.quantum | number }} <br>
          Ejecuciones: {{ process.nExec }} <br>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-divider></mat-divider>
    <p class="simulation-section__subtitle finish">Terminado</p>
    <div class="simulation-section__item">
      <mat-card class="simulation-section__item__process" *ngFor="let process of finishProcess">
        <mat-card-header>
          <mat-card-title>{{ process.processName }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Pid: {{ process.pid }}<br>
          Quantum: {{ process.quantum | number }} <br>
          Ejecuciones: {{ process.nExec }} <br>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>

<div class="reports">
  <mat-list class="subtitles">
    <mat-list-item><h2>Reportes</h2></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Reportes de los procesos expulsivos y no expulsivos respectivamente</mat-list-item>
  </mat-list>

  <table mat-table [dataSource]="expulsiveProcess" class="mat-elevation-z5 process">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="processName">
      <th mat-header-cell *matHeaderCellDef class="process__title"> Nombre del proceso </th>
      <td mat-cell *matCellDef="let element"> {{element.processName}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="timeArrival">
      <th mat-header-cell *matHeaderCellDef class="process__title"> Tiempo de llegada </th>
      <td mat-cell *matCellDef="let element"> {{element.timeArrival}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="burst">
      <th mat-header-cell *matHeaderCellDef class="process__title"> Rafaga </th>
      <td mat-cell *matCellDef="let element"> {{element.burst}} </td>
    </ng-container>
  
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef class="process__title"> Prioridad asignada </th>
      <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
    </ng-container>
  
    <ng-container matColumnDef="turnaround">
      <th mat-header-cell *matHeaderCellDef class="process__title"> Turnaround </th>
      <td mat-cell *matCellDef="let element"> {{element.turnaround | number}} </td>
    </ng-container>
  
    <ng-container matColumnDef="finishTime">
      <th mat-header-cell *matHeaderCellDef class="process__title"> Tiempo de finalización </th>
      <td mat-cell *matCellDef="let element"> {{element.finishTime | number}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="expulsiveProcessTitle"></tr>
    <tr mat-row *matRowDef="let row; columns: expulsiveProcessTitle;"></tr>
  </table>

  <table mat-table [dataSource]="noExpulsiveProcess" class="mat-elevation-z5 process">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="processName">
      <th mat-header-cell *matHeaderCellDef class="process__title"> Nombre del proceso </th>
      <td mat-cell *matCellDef="let element"> {{element.processName}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="timeArrival">
      <th mat-header-cell *matHeaderCellDef class="process__title"> Tiempo de llegada </th>
      <td mat-cell *matCellDef="let element"> {{element.timeArrival}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="burst">
      <th mat-header-cell *matHeaderCellDef class="process__title"> Rafaga </th>
      <td mat-cell *matCellDef="let element"> {{element.burst}} </td>
    </ng-container>
  
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef class="process__title"> Prioridad asignada </th>
      <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
    </ng-container>
  
    <ng-container matColumnDef="turnaround">
      <th mat-header-cell *matHeaderCellDef class="process__title"> Turnaround </th>
      <td mat-cell *matCellDef="let element"> {{element.turnaround | number}} </td>
    </ng-container>
  
    <ng-container matColumnDef="finishTime">
      <th mat-header-cell *matHeaderCellDef class="process__title"> Tiempo de finalización </th>
      <td mat-cell *matCellDef="let element"> {{element.finishTime | number}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="noExpulsiveProcessTitle"></tr>
    <tr mat-row *matRowDef="let row; columns: noExpulsiveProcessTitle;"></tr>
  </table>

</div>

<div class="control-buttons">
  <button mat-fab class="control-buttons__button" color="primary" (click)="runSimulate()" *ngIf="control == 0">
    <mat-icon aria-hidden="false" aria-label="Example home icon">play_arrow</mat-icon>
  </button>
  <button mat-fab class="control-buttons__button" color="primary" (click)="setControl(2)" *ngIf="control != 0">
    <mat-icon aria-hidden="false" aria-label="Example home icon">replay</mat-icon>
  </button>
  <button mat-fab class="control-buttons__button" color="warn" (click)="setControl(3)" *ngIf="control != 0 && control < 4">
    <mat-icon aria-hidden="false" aria-label="Example home icon">pause</mat-icon>
  </button>
</div>